/* CSS reset */ 

/*
* this's safari browser set cursor，Click event compatible 
* *{cursor:pointer;}  or  *{[;cursor:pointer;]} 
*/
*{cursor:pointer; -webkit-tap-highlight-color:rgba(255,0,0,0);font-family: '微软雅黑', Trebuchet MS, Verdana, Helvetica, Arial, sans-serif}
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, input, button, textarea, p { padding: 0; margin: 0; }
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 { -webkit-text-size-adjust: none; font-weight: normal; }
html, body { height: 100%; width: 100%;}
img { border: 0; }
a, li { -webkit-tap-highlight-color: rgba(0,0,0,0); }
a { text-decoration: none; color: #666; outline: none; }
/*此处待添加默认链接颜色*/
li { list-style: none; }
em { font-style: normal; }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
input[type="number"]{-moz-appearance:textfield;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0; 
}
input, button, textarea, select { font-size: 100%; outline: none; -webkit-appearance: none; }
html { box-sizing: border-box; font-family: "Microsoft YaHei", sans-serif; }
*, *:before, *:after { box-sizing: inherit; }
.clearFix:after{
    display: block;
    content: '';
    clear: both;
}
body{
    background: #f5f5f5;
}
