<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no, email=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <title>工作台</title>
    <link rel="stylesheet" href="../../../statics/css/publicStyle/base.css">
    <link rel="stylesheet" href="../../../statics/font/iconfont.css">
    <link rel="stylesheet" href="../../../statics/css/publicStyle/headerStyle.css">
    <link rel="stylesheet" href="../../../statics/css/publicStyle/wrapperStyleSmall.css">
    <link rel="stylesheet" href="../../../statics/css/publicStyle/footerStyle.css">
    <link rel="stylesheet" href="../../../statics/css/index.css">
    <script src="../../../statics/plugins/jquery-1.8.2.min.js"></script>
    <script src="../../../statics/js/publicJs/rem.js"></script>
    <script src="../../../statics/js/publicJs/jsFn.js"></script>
</head>
<body>
<div class="header">
    <span>工作台</span>
</div>
<div id="wrapper">
    <div>

        <div class="h_box">
            <span>日常办公</span>
            <a href="#">查看更多</a>
        </div>
        <ul class="clearFix">
            <li class="bt xsjc">
                <img src="../../../statics/images/index/WechatIMG95_03.png" alt="">
                <p>新手教程</p>
            </li>
            <li class="bt kqdk">
                <img src="../../../statics/images/index/WechatIMG95_05.png" alt="">
                <p>考勤打卡</p>
            </li>
            <li class="bt tzgg">
                <img src="../../../statics/images/index/WechatIMG95_07.png" alt="">
                <p>通知公告</p>
            </li>
            <!--
            <li class="bt rtn">
                <img src="../../../statics/images/index/WechatIMG95_15.png" alt="">
                <p>日志分享</p>
            </li>
            <li>
                <img src="../../../statics/images/index/WechatIMG95_16.png" alt="">
                <p>申请审批</p>
            </li>
            -->
            <li class="txl">
                <img src="../../../statics/images/index/WechatIMG95_17.png" alt="">
                <p>通讯录</p>
            </li>
        </ul>
        <div class="h_box">
            <span>客户管理</span>
            <a href="#">查看更多</a>
        </div>
        <ul class="clearFix">
            <li class="khgl">
                <img src="../../../statics/images/index/WechatIMG95_21.png" alt="">
                <p>客户管理</p>
            </li>
            <li class="khbf">
                <img src="../../../statics/images/index/WechatIMG95_22.png" alt="">
                <p>客户拜访</p>
            </li>
            <li class="khkc">
                <img src="../../../statics/images/index/WechatIMG95_23.png" alt="">
                <p>客户库存</p>
            </li>
        </ul>
        <div class="h_box">
            <span>业务操作</span>
            <a href="#">查看更多</a>
        </div>
        <ul class="clearFix">
            <li class="bt ywcd">
                <img src="../../../statics/images/index/WechatIMG95_27.png" alt="">
                <p>业务抄单</p>
            </li>
            <li class="bt ddgl">
                <img src="../../../statics/images/index/WechatIMG95_28.png" alt="">
                <p>订单管理</p>
            </li>
            <li class="bt xstd">
                <img src="../../../statics/images/index/WechatIMG95_29.png" alt="">
                <p>销售退单</p>
            </li>
            <li class="bt rtn skdj">
                <img src="../../../statics/images/index/WechatIMG95_30.png" alt="">
                <p>收款登记</p>
            </li>
            <li class="sprk">
                <img src="../../../statics/images/index/WechatIMG95_35.png" alt="">
                <p>商品入库</p>
            </li>
            <!--
            <li>
                <img src="../../../statics/images/index/WechatIMG95_36.png" alt="">
                <p>调拨单</p>
            </li>
            -->
            <li class="kcpd">
                <img src="../../../statics/images/index/WechatIMG95_37.png" alt="">
                <p>库存盘点</p>
            </li>
            <li class="kccx">
                <img src="../../../statics/images/index/WechatIMG95_38.png" alt="">
                <p>库存查询</p>
            </li>
        </ul>
        <div class="h_box">
            <span>其他</span>
            <a href="#">查看更多</a>
        </div>
        <ul class="clearFix">
            <li class="spxx">
                <img src="../../../statics/images/index/WechatIMG94_03.png" alt="">
                <p>商品信息</p>
            </li>
            <li class="wdsp">
                <img src="../../../statics/images/index/WechatIMG94_05.png" alt="">
                <p>我的商铺</p>
            </li>
            <li class="gd">
                <img src="../../../statics/images/index/WechatIMG94_07.png" alt="">
                <p>更多</p>
            </li>
        </ul>



    </div>
</div>
<div class="footer">
    <div id="workBench" style="color: #FF4402;">
        <i class="iconfont icon-agent"></i>
        <p>工作台</p>
    </div>
    <div id="workMsg">
        <i class="iconfont icon-xiaoxi"></i>
        <p>消息</p>
    </div>
    <div id="workSurface">
        <i class="iconfont icon-baobiao"></i>
        <p>报表</p>
    </div>
    <div id="users">
        <i class="iconfont icon-myorder"></i>
        <p>我的</p>
    </div>
</div>
</body>
<script>

    //页脚点击
    $("#workMsg").on('click', function () {
        window.location.href = '../workMsg/index.html';
    });
    $("#workSurface").on('click', function () {
        window.location.href = '../workSurface/index.html';
    });
    $("#users").on('click', function () {
        window.location.href = '../users/index.html';
    });

    var $fh = $('.footer'), $fi = $('.footer>div>i'), $fp = $('.footer>div>p');
    //页脚垂直居中
    var $h = $fh.outerHeight() - $fi.outerHeight() - $fp.outerHeight();
    var $f = $('html').css('font-size');
    var $rh = $h / 2 / parseFloat($f);
    $('.footer>div').css({
        'padding-top': $rh + 'rem'
    });

    //menu跳转

    //新手教程
    $('.xsjc').on('click',function () {
        window.location.href = 'sonPages/course.html';
    });
    //考勤打卡
    $('.kqdk').on('click',function () {
        window.location.href = 'sonPages/timeCard.html';
    });
    //通知公告
    $('.tzgg').on('click',function () {
        window.location.href = 'sonPages/noticeBulletin.html';
    });
    //通讯录
    $('.txl').on('click',function () {
        window.location.href = 'sonPages/mailList.html';

    });
    //客户管理
    $('.khgl').on('click',function () {
        window.location.href = 'sonPages/customerManagement.html';
    });
    //客户拜访
    $('.khbf').on('click',function () {
        window.location.href = 'sonPages/customerVisit.html';
    });
    //客户库存
    $('.khkc').on('click',function () {
        window.location.href = 'sonPages/customerInventory.html';
    });
    //业务抄单
    $('.ywcd').on('click',function () {
        window.location.href = 'sonPages/business.html';
    });
    //订单管理
    $('.ddgl').on('click',function () {
        window.location.href = 'sonPages/orderManagement.html';
    });
    //销售退单
    $('.xstd').on('click',function () {
        window.location.href = 'sonPages/salesRefund.html';
    });
    //收款登记
    $('.skdj').on('click',function () {
        window.location.href = 'sonPages/registrationOfReceipts.html';
    });
    //商品入库
    $('.sprk').on('click',function () {
        window.location.href = 'sonPages/goodsWarehousing.html';
    });
    //库存盘点
    $('.kcpd').on('click',function () {
        window.location.href = 'sonPages/inventoryInventory.html';
    });
    //库存查询
    $('.kccx').on('click',function () {
        window.location.href = 'sonPages/inventoryQuery.html';
    });
    //商品信息
    $('.spxx').on('click',function () {
        window.location.href = 'sonPages/commodityInformation.html';
    });
    //我的商铺
    $('.wdsp').on('click',function () {
        window.location.href = 'sonPages/myShop.html';
    });
    //更多
    $('.gd').on('click',function () {
        window.location.href = 'sonPages/more.html';

    });




</script>
</html>